<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Добавление новости</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="container">
    <p><strong>Добавление нового продукта</strong></p><br>
    <form th:method="post" th:object="${productModel}" th:action="@{/product/add}" enctype="multipart/form-data">

        <input type="text" th:field="*{title}" id="title" placeholder="Введите название" class="form-control"><br>

        <input type="file" name="file1"><br>
        <input type="file" name="file2"><br>
        <input type="file" name="file3"><br>


        <button type="submit" class="btn btn-success">Добавить производителя</button>
        <br>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
